<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.parkir.arif.eparkir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".moduls.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".moduls.RegisterActivity" />
        <activity android:name=".moduls.ListBookParkir.ListBookParkirActivity" />
        <activity
            android:name=".moduls.DetailBookActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity android:name=".moduls.ScanBarcodeActivity" />
        <activity android:name=".moduls.ProfilActivity" />
        <activity android:name=".moduls.listmall.ListMallActivity" />
        <activity android:name=".moduls.DetailMallActivity" />
    </application>

</manifest>